<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"
        tools:ignore="ExactAlarm" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".GuardianAngel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuardianAngel">

        <activity
            android:name=".StepsMonitor"
            android:exported="true"
            android:taskAffinity="com.example.guardianangel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherWelcomeActivity"
            android:label="Weather Welcome"
            android:exported="true"> <!-- Customize the theme as needed -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WalkingSuggestionsActivity"
            android:exported="true"
            android:taskAffinity="com.example.guardianangel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CycleTrackingProfile"
            android:exported="true"
            android:theme="@style/Theme.GuardianAngel" >
        </activity>
        <activity
            android:name=".sleep_wellness.SleepWellnessMain"
            android:exported="false"
            android:theme="@style/Theme.GuardianAngel"/>
        <activity
            android:name=".sleep_wellness.SleepWellnessStats"
            android:exported="false"
            android:theme="@style/Theme.GuardianAngel"/>
        <activity
            android:name=".MyCycle"
            android:exported="false"
            android:theme="@style/Theme.GuardianAngel" />
        <activity
            android:name=".MainView"
            android:exported="false"
            android:theme="@style/Theme.GuardianAngel" />

        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:theme="@style/Theme.GuardianAngel"/>

        <activity
            android:name=".SleepInfo"
            android:theme="@style/Theme.GuardianAngel"/>
        <activity
            android:name=".DietSuggest"
            android:theme="@style/Theme.GuardianAngel"/>

        <activity
            android:name=".PeriodDateCalculator"
            android:theme="@style/Theme.GuardianAngel"/>

        <receiver android:name=".sleep_wellness.alarm.AlarmReceiver" />
        <receiver android:name=".sleep_wellness.alarm.AlarmNotifier" />
        <receiver android:name=".sleep_wellness.notification.StopReceiver" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".sleep_wellness.alarm.DemoAlarmNotifier"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".sleep_wellness.notification.DemoStopReceiver" />

        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.GuardianAngel.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UpdateActivity" />
    </application>

</manifest>